.about-us {
    background-image: url(../Images/About-us-small.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    min-height: 30vh;
    background-position: center;
    text-align: center;
    color: var(--font-color-on-back);
    top: -20px;
}

.about-us__main p {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
}

.about-us p {
    text-align: left;
    margin: 0 20px;
}

.mission-backstory {
    text-align: center;
    min-height: 20vh;
}

.mission-backstory p {
    margin: 5px 20px;
}

.mission-backstory img {
    width: 200px;
}

.about-us-txt {
    position: absolute;
    top: 70px;
    left: 5%;
    color: var(--font-color-on-back);
}

.about-us-txt h1 {
    text-align: center;
}
