/* General for Checkout */
img {
    width: 100px;
}

h1 {
    margin-top: 50px;
}

.checkout-review {
    border-bottom: 1px solid;
    margin: 0 5%;
}

.order-sum-head {
    margin: 0 5%;
    font-weight: bold;
    text-align: center;
}

.checkout-review img {
    width: 100px;
}

.checkout-review p,
.checkout-costs p {
    font-size: 14px;

}

.checkout-review,
.checkout-costs,
.cta-continue {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin: 5px 0;
}

/* Order Summary */
h1 {
    text-align: center;
}

.checkout-img,
.checkout-prod-cont {
    margin: 20px 20px;
}

.costs-prices {
    margin-left: 20px;
}

/* Checkout Details */
.checkout-form {
    display: grid;
    justify-content: center;
    margin: 20px 10px;
}

.checkout-form .form-grid,
.checkout-form input {
    width: 250px;
}

.form-grid {
    display: grid;
}

.first-last-name {
    display: block;
}


/* Checkout Payment */

#card-checkbox,
#paypal-checkbox {
    display: none;
}

form .card-form,
.paypal-form {
    display: none;
}

.card-paypal-box {
    border: solid 1px gainsboro;
    border-radius: 5px;
    padding: 2px;
    max-height: 25px;
    margin-right: 10px;
}

.card-paypal-box:hover {
    background: lightgray;
}

#card-checkbox:checked ~ form .card-form,
#paypal-checkbox:checked ~ form .paypal-form {
    display: grid;
    position: absolute;
    left: 1vh;
}

.checkout-summary {
    text-align: left;
}

.checkout-summary h2 {
    text-align: left;
    margin-left: 20px;
}

.card-paypal-box i {
    font-size: 24px;
}

/* Checkout Success */
.checkout-summary p,
.checkout-summary h3
 {
    margin: 20px 10px;
}

.checkout-summary .cta-main {
    display: flex;
    justify-content: center;
}

.card-paypal-flex {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    margin-bottom: 300px;
}

.checkout-summary h2 {
    color: green;
    font-size: 2em;
}

.checkout-summary h2 i {
    font-size: 70px;
}

.checkout-summary {
    flex-basis: 60%;
}