.contact {
    display: grid;
    grid-template-columns: 1fr;
}

.form-wrapper {
    border: solid;
    border-width: 1px;
}

input {
    margin-bottom: 5px;
}

h2 {
    text-align: left;
}

.contact-us-form {
    margin: 25px 30px;
}

.contact-main h1 {
    margin: 30px 20%;
}

.contact-form,
.phone-social-wrap {
    margin: 0 20%;
}

.contact-form-placement {
    display: flex;
    justify-content: left;
}

textarea {
    height: 50%;
    min-height: 100px;
}

.cta-send {
    margin: 5px 20%;
    background-color: #0A3641;
    color: white;
    border-radius: 5px;
    width: 100px;
    border-color: #0A3641;
}

.phone-social-wrap i {
    font-size: 50px;
}