.autumn-home {
    background: url(/Images/Autumn-sales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
    position: relative;
    text-align: center;
    max-width: 1000px;
}

h1 {
    color: white;
}

.categories__home img {
    width: 100px;
}

.cta-autumn {
    background-color: white;
    color: black;
}

