h1 {
    text-align: center; 
}

.autumn-home h1 {
    flex: 0.95;
}

.autumn-home {
    background: url(/Images/Autumn-sales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 45vh;
    position: relative;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.autumn-home,
.categories__home h2 {
    color: white;
}

.cta-autumn {
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    position: relative;
    padding: 6px 14px;
    text-align: center;
    text-transform: uppercase;
}


.home-cat {
    margin: 0 10px;
}

.jacket-cat-txt {
    position: relative;
    bottom: 40px;
    text-align: center;
}

.categories__home {
    display: grid;
    justify-content: center;
}

.categories__home h2 {
    font-size: 16px;
}

.categories__home img {
    width: 200px;
}

.pop-product-sec {
    position: relative;
    top: -40px;
}
