h1 {
    text-align: center;  
}

.autumn-home {
    background: url(/Images/Autumn-sales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 30vh;
    position: relative;
    max-width: 2000px;
    align-content: center;
}

.autumn-header,
.categories__home h2 {
    color: white;
}

.cta-autumn {
    background-color: white;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 35%;
    padding: 3px 6px;
    text-align: center;
}

.home-cat {
    margin: 5px 10px;
}

.jacket-cat-txt {
    position: relative;
    bottom: 40px;
    text-align: center;
}

.categories__home h2 {
    font-size: 16px;
}

.categories__home img {
    width: 150px;
}

.pop-product-sec {
    position: relative;
    top: -40px;
}
