#filter-checkbox,
#colour-checkbox,
#size-checkbox,
#price-checkbox,
#type-checkbox {
    display: none;
}

#filter-checkbox:checked ~ nav {
    display: block;
}

#colour-checkbox:checked ~ .colour-nav,
#size-checkbox:checked ~ .size-nav,
#price-checkbox:checked ~ .price-nav,
#type-checkbox:checked ~ .type-nav {
    display: block;
}

main nav ul {
    padding: 0;
    margin: 0;
}

main nav ul li {
    position: relative;
    display: block;
    padding: 2px 15px;
}

main ul ul {
    position: relative;
    display: none;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.filter {
    margin-left: 5px;
    font-size: 16px;
}

.filter ul {
    font-size: 12px;
}

.inline-nav {
    display: inline-block;
}

.colour-nav {
    position: relative;
}


/* Jacket specific */
.spec-main-img img {
    width: 250px;
}

.thumb-img img {
    width: 50px;
    border: solid;
    border-width: 1px;
    margin-top: 10px;
}

.product-spec-imgs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.product-spec-imgs > * {
    flex: 1;
}

.prod-spec-review {
    display: flex;
    margin-left: 40px;
    font-size: 16px;
}

.product-thumb-imgs {
    display: flex;
    gap: 10px;
}

.spec-content {
    display: grid;
    justify-content: center;
    text-align: center;
}

.spec-content > p, #size {
    margin-bottom: 15px;
}

.spec-rev-descr {
    margin-left: 10px;
}