/* General */
.cta-main {
    margin-bottom: 0;
}

/* Jacket List */
#colour-checkbox,
#size-checkbox,
#price-checkbox,
#type-checkbox {
    display: none;
}

#colour-checkbox:checked ~ .colour-nav,
#size-checkbox:checked ~ .size-nav,
#price-checkbox:checked ~ .price-nav,
#type-checkbox:checked ~ .type-nav {
    display: block;
    position: absolute;
    left: -40%;
    width: max-content;
    background: white;
    margin: 5px;

}

main ul {
    padding: 0;
    margin: 0px;
}

main ul li {
    position: relative;
    display: block;
    margin: 0 10px;
}

main ul ul {
    position: relative;
    display: none;
}

h1 {
    text-align: center;
    margin-top: 30px;
}


.filter ul {
    font-size: 12px;
}

.filter-flex {
    display: flex;
    border-bottom: solid 0.1px gainsboro;
}

.popular__products {
    margin: 0;
}

/* Jacket specific */
.spec-main-img img {
    width: 250px;
}

.thumb-img img {
    width: 50px;
    margin-top: 10px;
    border: solid 1px gainsboro
}

.product-spec-imgs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.product-spec-imgs > * {
    flex: 1;
}

.prod-spec-review {
    display: flex;
    margin-left: 40px;
    margin-top: 0;
    font-size: 16px;
}

.product-thumb-imgs {
    display: flex;
    gap: 10px;
}

.spec-content {
    display: grid;
    justify-content: center;
    text-align: center;
}

.spec-content > p, #size {
    margin-top: 5px;
}

.spec-rev-descr {
    margin: 0 10px;
}

#size-butt {
    width: 50%;
    margin-left: 50px;
}

.bold-heading {
    border-bottom: solid 1px;
}

.review-p {
    margin: 0;
}

