#filter-checkbox,
#colour-checkbox,
#size-checkbox,
#price-checkbox,
#type-checkbox {
    display: none;
}

#filter-checkbox:checked ~ nav,
#colour-checkbox:checked ~ .colour-nav,
#size-checkbox:checked ~ .size-nav,
#price-checkbox:checked ~ .price-nav,
#type-checkbox:checked ~ .type-nav {
    display: block;
}

main nav ul {
    padding: 0;
    margin: 0;
}

main nav ul li {
    position: relative;
    display: block;
    padding: 2px 15px;
}

main ul ul {
    position: relative;
    display: none;
}

/* Jacket specific */
img {
    width: 50px;
}