@media (min-width: 350px) {
    
    /* Home */
    .popular__products,
    .categories__home {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 500px) {
    /* General */
    .products {
        width: 150px;
        height: 275px;
    }
    
    .products img {
        width: 100px;
        height: 120px;
    }
    
    .logo {
        min-width: 90px;
        min-height: 100%;
    }

    .search-bar_lens {
        padding-left: 0px;
        padding-right: 0px;
        width: 50%;
    }

    /* Home Page */
    .autumn-home {
        min-height: 40vh;
    }

    .cta-autumn {
        left: 40%;
    }

    .popular__products {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .categories__home img {
        width: 200px;
    }

    /* About us */
    .about-us {
        background-image: url(../Images/About-us-large.jpg);
        min-height: 30vh;
        text-align: left;
    }

    .about-us__txt h1 {
        margin: 20px 20px;
    }

    .about-us p {
        max-width: 50%;
    }

    .our-mission,
    .our-backstory {
    display: flex;
    justify-content: center;
    }
    
    .mission-backstory p {
        max-width: 50%;
    }

    /* Contact us */
    .contact-form {
        margin: 0 10%;
    }

    .contact-main h1 {
        margin: 30px 5%;
    }

    .contact {
        grid-template-columns: 1fr 1fr;
    }

    .phone-social-wrap {
        margin: 0 10px;
    }

    .phone-social-wrap h2 {
        text-align: left;
    }

    /* Jacket Page */


    /* Jacket specific page */
    .product-spec-imgs .spec-main-img img {
        width: 350px;
    }
    
    .product-spec-imgs .thumb-img img {
        width: 80px;
    }
   
    /* Footer */

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 800px) {
    /* General */
    .products {
        margin: 5px 10px;
        width: 160px;
    }

    .thumb-img img:hover,
    .products:hover {
        border-style: solid;
        border-width: 1px;
        transform: scale(1.1);
    }

    .home-cat:hover {
        transform: scale(1.1);
    }

    /* Header */
    header .fa-bars {
        display: none;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: 0;
        top: 6px;
    }

    header nav li {
        display: inline-block;
        padding: 0;
    }

    header nav ul {
        font-size: 0.8em;
        padding: 0;
    }

    .home-remove {
        display: none;
    }

    .search-bar_lens {
        width: 30%;
    }

    /* Home */
    .autumn-home {
        min-height: 55vh;
        background-position: center left;
    }

    .cta-autumn {
        left: 45%;
    }

    .popular__products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 50%;
    }

    .categories__home {
        margin: 0 50%;
    }

    .categories__home img {
        width: 250px;
    }

    /* About us */
    .about-us,
    .our-mission,
    .our-backstory {
        min-height: 40vh;
    }

    .mission-backstory img {
        width: 300px;
    }

    .about-us__main p {
        font-size: 16px;
    }

    /* Contact us */
      .contact-form {
        margin: 0 25%;
    }

    .contact-main h1 {
        margin: 30px 12%;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: 0;
        top: 6px;
    }

    header nav li {
        display: inline-block;
        padding: 0;
    }

    header nav ul {
        font-size: 0.8em;
        padding: 0;
    }

      /* Jacket list page */
      .filter #filter-checkbox {
        display: none;
    }

    /* Jacket specific page */

    .all-jack-info .spec-rev-descr {
        margin-left: 0;
    }

    .spec-jack-main h1 {
        max-width: 380px;
        margin-bottom: 50px;
    }

    .all-jack-info {
        margin-left: 30px;
    }
    .spec-page {
        display: flex;
        margin: 0 20px;
    }

    .all-jack-info .spec-content {
        justify-content: left;
        text-align: left;
    }

    .spec-content .prod-spec-review {
        margin-left: 0;
    }

    .product-spec-imgs {
        flex: 80vh;
    }

    /* Footer */
    footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer .fa-brands { 
        font-size: 50px;
        margin: 0 5px;
    }
}