@media (min-width: 350px) {
    
    /* Home */
    .popular__products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 500px) {
    /* Header */
    .logo {
        max-width: 120px;
        margin: 2px 10px;
    }

    .search-bar_lens {
        padding-left: 0px;
        padding-right: 0px;
        width: 30%;
    }

    header .shopping-cart i {
        margin-right: 5px;
    }

    /* Home Page */
    .autumn-home {
        min-height: 50vh;
    }

    .popular__products {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .categories__home h2 {
        font-size: 20px;
    }

    .categories__home {
        display: flex;
        justify-content: center;
    }

    .jacket-cat-txt {
        bottom: 50px;
    }
    
    /* About us */
    .about-us {
        background-image: url(../Images/About-us-large.jpg);
        text-align: left;
    }

    .about-us-txt p {
        max-width: 50%;
    }

    .about-us-txt h1 {
        text-align: left;
    }

    .about-us {
        top: -25px;
    }

    .mission-backstory p {
        margin: 0;
    }

    .mission-backstory p {
        flex: 60%;
    }

    .about-h2,
    .mission-backstory p {
        text-align: left;
        margin-left: 5%;
    }

    .our-mission,
    .our-backstory {
        display: flex;
        justify-content: center;
    }

    .miss-backstor-imgs {
        margin: 0 10px;
    }

    .miss-backstor-imgs img {
        width: 60%;
    }

    /* Contact us */
    .contact-form {
        margin: 0 10%;
    }

    .contact-main h1 {
        margin: 30px 5%;
    }

    .contact {
        grid-template-columns: 1fr 1fr;
    }

    .phone-social-wrap {
        margin: 0 10px;
    }

    .phone-social-wrap h2 {
        text-align: left;
    }

    /* Jacket List */
    .product-list h1 {
        text-align: left;
        margin-left: 10px;
    }

    #colour-checkbox:checked ~ .colour-nav,
    #size-checkbox:checked ~ .size-nav,
    #price-checkbox:checked ~ .price-nav,
    #type-checkbox:checked ~ .type-nav {
        width: 25vh;
    }

    /* Jacket specific page */
    .product-spec-imgs .spec-main-img img {
        width: 350px;
    }
    
    .product-spec-imgs .thumb-img img {
        width: 80px;
    }

    /* Checkout */
    .checkout-h1 {
        margin-bottom: 50px;
        text-align: left;
        margin-left: 10px;
    } 

    .checkout-flex {
        display: flex;
    }

    .checkout-flex .checkout-form {
        justify-content: left;
        margin: 0 10px;
    }

    .checkout-form .form-grid,
    .checkout-form input {
        width: 200px;
    }

    .checkout-form {
        flex-basis: 30%;
    }

    .product-detail {
        flex-basis: 60%;
    }

    .product-detail .checkout-review,
    .product-detail .checkout-costs {
        justify-content: left;
    }

    .product-detail .order-sum-head {
        text-align: left;
    }

    .checkout-costs {
        margin: 0 5%;
    }

    /* Checkout Payment */

    .side-border {
        border-left: 1px solid;
        margin-left: 10px;
    }

    .checkout-flex .card-paypal-flex {
        flex-basis: 40%;
        justify-content: left;
    }

    .checkout-succ-main .checkout-review,
    .checkout-succ-main .order-sum-head,
    .checkout-succ-main .checkout-img,
    .checkout-succ-main .checkout-costs {
        margin-left: 10px;
    }

    /* Footer */
    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 800px) {
    /* General */
    .thumb-img img {
        border: 1px solid white;
    }
    
    .thumb-img img:hover,
    .products:hover {
        transform: scale(1.1);
        border: 1px solid black;
        transition: 0.3s;
    }

    .home-cat:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .products {
        background: white;
        border: solid 1px white;
    }

    /* Header */
    header .fa-bars {
        display: none;
    }

    header nav {
        display: flex;
        position: relative;
        left: 0;
        top: 6px;
        transition: none;
        min-width: 44vh;
        background: #D9D9D9;
    }

    header nav li:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }

    header nav li {
        display: inline-block;
        padding: 0;
    }

    header nav a {
        color: black;
        padding: 0 10px 20px;
    }

    header nav ul {
        font-size: 1em;
        padding: 0;
    }

    .small-font-head {
        font-size: 0.7em;
    }

    .home-remove {
        display: none;
    }

    .search-bar_lens {
        width: 25%;
    }

    .search-bar-header,
    header a,
    header .nav-bars-menu {
        margin: 0;
    }

    /* Home */
    .autumn-home {
        min-height: 60vh;
        background-position: center left;
    }

    .popular__products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .categories__home img {
        width: 300px;
    }

    .cta-autumn:hover {
        background-color: var(--cta-main-color);
        border-radius: 8px;
        color: var(--font-color-on-back);
        transition: 0.3s;
        border: white solid 2px;
    }

    /* About us */
    .about-us {
        min-height: 60vh;
    }

    .our-mission,
    .our-backstory {
        max-height: 30vh;
    }

    .about-us__main p {
        font-size: 16px;
    }

    /* Contact us */
    .contact-main h1 {
        margin: 30px 5%;
    }

    /* Jacket list page */
    .filter #filter-checkbox {
        display: none;
    }

    #colour-checkbox:checked ~ .colour-nav,
    #size-checkbox:checked ~ .size-nav,
    #price-checkbox:checked ~ .price-nav,
    #type-checkbox:checked ~ .type-nav {
        display: none;
    }

    #colour-checkbox:hover ~ .colour-nav,
    #size-checkbox:hover ~ .size-nav,
    #price-checkbox:hover ~ .price-nav,
    #type-checkbox:hover ~ .type-nav {
        display: block;
        position: absolute;
        left: -2vh;
        width: 50vh;
        background: white;
        border: solid 1px gainsboro;
        margin-left: 20px;
    }

    .colour-nav:hover,
    .size-nav:hover,
    .price-nav:hover,
    .type-nav:hover {
        display: block;
        position: absolute;
        left: -2vh;
        width: 50vh;
        background: white;
        border: solid 1px gainsboro;
        margin-left: 20px;
    }

    /* Jacket specific page */
    .all-jack-info .spec-rev-descr {
        margin-left: 0;
    }

    .spec-jack-main h1 {
        margin-left: 20px;
        margin-bottom: 50px;
        text-align: left;
    }

    .all-jack-info {
        margin: 0 40px;
    }

    .spec-page {
        display: flex;
        margin: 0 20px;
    }

    .all-jack-info .spec-content {
        justify-content: left;
        text-align: left;
    }

    .spec-content .prod-spec-review {
        margin-left: 0;
    }

    .product-spec-imgs {
        flex: 0;
    }

    #size-butt {
        margin-left: 0;
    }

    /* Checkout Details */
    .checkout-form .form-grid,
    .checkout-form input {
        width: 280px;
    }

    /* Checkout Payment */
    .checkout-flex .card-paypal-flex {
        flex-basis: 30%;
    }
    
    /* Checkout Success */
    .check-succ-flex {
        display: flex;
    }

    .checkout-summary {
        flex-basis: 60%;
    }
    
    .checkout-summary h2 {
        font-size: 40px;
        margin: 0px 10px;
    }
    
    .checkout-summary h2 i {
        font-size: 50px;
    }

    .check-succ-flex .product-detail {
        border-left: solid 1px;
    }

    /* Footer */
    footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer .fa-brands { 
        font-size: 50px;
        margin: 0 5px;
    }
}

@media (min-width: 1200px) {
    /* Header */
    .header-nav {
        min-width: 60vh;
    }

    header .cat-name-header {
        margin-right: 20px;
    }

    header nav ul {
        font-size: 1.1em;
    }
    
    header .header-nav .header-women {
        margin-right: 80px;
    }
    
    /* Home */
    .popular__products {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .product-spec-imgs {
        flex: 20%;
    }

    .product-spec-imgs .spec-main-img img {
        width: 450px;
    }

    .all-jack-info {
        margin: 0 100px 0px 60px;
    }

}