@import "imports/links.css";
@import "imports/variables.css";

/* Global */
h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-transform: uppercase;
    font-size: 24px;
}

h3, p, nav, a, .filter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.active {
    text-decoration: underline;
}

.bold-heading {
    font-weight: bold;
}

/* Header */
header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: #d9d9d9;
    z-index: 1000;
}

.logo {
    position: relative;
    max-width: 70px;
    max-height: 100%;
    margin-left: 2px;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header nav {
    justify-content: center;
    position: absolute;
    background: #d9d9d9;
    left: 0px;
    top: 60px;
}

header nav ul {
    padding-left: 15px;
    margin: 0;
}

header nav li {
    font-size: 0.90em;
    padding: 10px;
}

header nav a {
    display: block;
    padding: 0 10px 20px;
}

nav li {
    list-style: none;
}

.fa,
.fas {
    color: black;
    padding: 0 10px;
}

.search-bar_lens {
    display: flex;
    align-items: center;
  
}

.search-bar {
    width: 100%;
}

/* Main */
main {
    margin-top: 40px;
    min-height: 90vh;
}

.breadcrumb {
    display: flex;
    margin: 5px 5px;
}

.breadcrumb a {
    margin-top: 15px;
}

.cta-main {
    border-radius: 5px;
    width: 200px;
    height: 33px;
    background-color: #0A3641;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Constant Product Applications */
.popular__products,
.categories__home {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    justify-content: center;
    margin: 0 25%;
}

.products {
    margin: 20px 5px;
    background: #DDE0E1;
    width: 163px;
    height: 300px;
    text-align: center;
}

.products h3 {
    font-size: 14px;
}

.products p {
    font-size: 12px;
}

.products img {
    width: 120px;
    height: 150px;
    margin: 5px;
}


/* Footer */
footer {
    background: #d9d9d9;
    grid-template-columns: 1fr 1fr;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
}

.fa-brands {
    font-size: 35px;
    margin: 0 2px;
}

.footer-det {
    padding: 0 5px;
}

footer h3 {
    font-size: 14px;
}

footer p {
    font-size: 12px;
}