@import "../CSS/Imports/variables.css";

/* Global */
h1,
h2 {
    font-family: var(--text-heading);
}

h1 {
    text-transform: uppercase;
    font-size: 24px;
}

h3, p, nav, a, .filter, label, input {
    font-family: var(--text-paragraph-others);
}

a, ul, li {
    text-decoration: none;
    list-style: none;
    color: black;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.active {
    text-decoration: underline;
}

.bold-heading {
    font-weight: bold;
}

h3 span {
    display: block;
}

/* Header */
header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: #d9d9d9;
    z-index: 1000;
}

.logo {
    position: relative;
    max-width: 100px;
    max-height: auto;
    margin: 5px 5px;
}

header nav {
    justify-content: center;
    position: absolute;
    background: var(--cta-main-color);
    left: -100vh;
    top: 60px;
    min-width: 100vh;
    transition: left 0.3s ease-in-out;
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
    left: 0;
    transition: left 0.3s ease-in-out;
}

header nav ul {
    padding: 0 25px;
    margin: 0;
}

header nav li {
    font-size: 0.90em;
    padding: 10px;
}

header nav a {
    display: block;
    padding: 0 0 20px;
    color: var(--font-color-on-back);
    font-weight: bold;
}

nav li {
    list-style: none;
}

header i {
    font-size: 18px;
    color: black;
    padding: 0 10px;
}

header form {
    display: flex;
    flex-direction: row;
}

.search-bar-header {
    width: 100%;
    padding: 6px 35px 6px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

header .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

header .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/* Main */
main {
    margin-top: 60px;
    min-height: 90vh;
}

.breadcrumb {
    display: flex;
    margin: 0px 0px 10px 10px;
    font-size: 14px;
}

.breadcrumb .current-page {
    text-decoration: underline;
}


.cta-main {
    border-radius: 5px;
    width: 200px;
    height: 33px;
    background-color: var(--cta-main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.cta-main a,
.cta-main i {
    color: var(--font-color-on-back);
}

.form-wrapper {
    display: grid;
    text-align: left;
    margin-bottom: 10px;
    justify-content: center;
    max-width: 250px;
}

.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Constant Product Applications */
.popular__products {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 5px 20px;
}

.products {
    margin: 20px 10px;
    width: 80%;
    height: auto;
    text-align: center;
    border: solid 1px #d9d9d9;
}

.products h3 {
    font-size: 16px;
}

.products p {
    font-size: 14px;
}

.products img {
    width: 80%;
    height: auto;
    margin: 5px;
}


/* Footer */
footer {
    background: #d9d9d9;
    grid-template-columns: 1fr 1fr;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
}

.fa-brands {
    font-size: 35px;
    margin: 0 2px;
}

.footer-det {
    padding: 0 5px;
}

footer h3 {
    font-size: 14px;
}

footer p {
    font-size: 12px;
}